name: PR
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup python env
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
          pip install -r requirements.txt

        
      - name: Run pylint
        id: pylint
        run: |
          OUTPUT=$(pylint $(git ls-files '*.py') 2>&1) || true
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$OUTPUT" | tail -20 >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

  SendDiscordWebhook:
    runs-on: ubuntu-latest
    needs: build
    if: always()
    steps:
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
        uses: Ilshidur/action-discord@master
        with:
          args: |
            **PR** - **${{ github.event.pull_request.title }}**
            ${{ github.actor }} has raised a pull request!
            
            Pylint result:
            ```
            ${{ needs.build.outputs.pylint-result }}
            ```

            ${{ github.event.pull_request.html_url }}
            <@987695835678662666>
