name: PR
on:
  pull_request:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      
      - name: Setup python env
        uses: actions/setup-python@v2
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        
      - name: Run pylint
        run: |
          pylint ./app/

  SendDiscordWebhook:
    runs-on: ubuntu-latest
    steps:
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
        uses: Ilshidur/action-discord@master
        with:
          args: |
            **PR** - **${{ github.event.pull_request.title }}**
            ${{ github.actor }} has raised a pull request!

            ${{ github.event.pull_request.html_url }}
            <@987695835678662666>
